# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Env
.env
.env.local

# Build artifacts
dist/

# Dependencies
node_modules/

# Coverage
coverage/

# pnpm
.pnpm-store/